{% extends 'core/base.html '%}

{% load static %}
	
 
{% block css %}
 
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'core/css/style.css' %}">

{% endblock %}

{% block minjs %}
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/popper.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/main.js' %}"></script>
<script src="{% static 'core/js/contraseña.js' %}"></script>


{% endblock%}



{% block contenido %}

<section class="ftco-section">
    <div class="container3">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="img col-xl-9">
                        <img class="img col-xl-9 center " src="{% static 'core/img/paisa.jpg' %}" alt="">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-4">Sign In</h3>
                    </div>
                </div>
                        <form method="post" class="signin-form" autocomplete="off">
                            {% csrf_token %}
                    <div class="form-group mt-3">
                        <input type="text" name="username" class="form-control" required>
                        <label class="form-control-placeholder" for="username">Username</label>
                    </div>
                <div class="form-group">
                <input id="contrasena" name="password1" type="password" class="form-control" required>
                <label class="form-control-placeholder" for="password1">Password</label>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <input type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña"/>
                        Mostrar Contraseña</div>
                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                
            </form>
    
            <p class="text-center">¿No Estas registrado? <a href="registrar/" class="glyphicon glyphicon-log-in">Registrate aqui</a></p>
            </div>
        </div>
            </div>
        </div>
        {% if messages %}
            {% for msg in messages %}
            <b>{{msg}}</b>
            {% endfor %}
        {% endif %}
    </div>
    
</section>
{% endblock %}