{% extends 'core/base.html '%}

{% load static %}

{% block css %}
<link rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"> 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">



{% endblock %}

{% block minjs %}
<!-- DATA TABLE -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'core/js/validar.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
        $('#userList').DataTable();
    } );
</script>



{% endblock%}


{% block contenido %}
<section class="mb-5">

</section>
<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
    <ul class="nav nav-tabs justify-content-end">


        <li class="nav-item">
            <a class="nav-link" href="{% url 'listarVentas' %}">Listado</a>
        </li>
        



        <li class="nav-item">
        <a class="nav-link active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Vender</a>				   	
        </li>

    </ul>



    <div class="tab-content" id="myTabContent">
        <!-- registrar venta -->
        
        <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
            <div class="card">
                <div class="card-header">

                    <h4>VENTAS</h4>
                    {% if request.session.username %}
                        
                    <a href="#">@{{request.session.username }}</a>

                    {% endif%}
                </div>
                <div class="card-body">


                    <form method="post" class="form" role="form" autocomplete="off">
                        {% csrf_token %}
                        
                        
                        {{ form.vendedor }}

                        
                        {{ form.vehiculo}}
                        {{ form.cliente}}
                        
                        <div class="form-group">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" onclick="mostrar();" class="form-control btn btn-primary rounded submit px-3">Guardar</button>
                            </div>

                            
                        </div>
                    </form>

                    



                </div>
            </div>
            <!-- end registrar-->


            

        </div>
    </div>
</div>
<section class="mb-4"><a href="">.</a></section>
<section class="mb-5"><a href="">.</a></section>
<section class="mb-5"><a href="">.</a></section>
    
</section>
{% endblock %}